@font-face {
    font-family: 'PT Sans';
    src: url(Oswald-Bold.woff2) format('woff2'), url(/fonts/ptsans-700.woff2) format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PT Sans';
    src: url(FiraSansCondensed-Regular.woff2) format('woff2'), url(/fonts/ptsans-400.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
  }